.home-page {
  height: 95vh;
  background: url(../images/bg-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.intro {
  margin-left: 10rem;
  position: relative;
  top: 20%;
}

h1 {
  color: #f8aa00db;
  font-size: 3.2rem;
  font-weight: 700;
  width: 25%;
}

p {
  color: rgb(177, 177, 177);
  font-size: 2rem;
  width: 40%;
  line-height: 1.3;
  letter-spacing: 0.3px;
}
