.nav {
  background: none;
  display: flex;
  justify-content: space-between;
  color: #fec959;
  align-items: center;
  gap: 2rem;
  padding: 1rem 4rem;
  height: 10vh;
}

.math-magic {
  font-size: 3.2rem;
  font-weight: bold;
  color: rgb(255, 170, 59);
  text-decoration: none;
}


.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.nav li a {
  color: inherit;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.nav li a:hover {
  color: rgb(255, 149, 9);
}

.nav li a:active {
  color: rgb(231, 131, 0);
}