*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.calculator-app {
  height: 95vh;
  background: url(./images/bg-image1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 3.8rem;
  font-weight: bold;
  position: absolute;
  top: 30%;
  margin-left: 15rem;
  max-width: 30vw;
  color: rgb(177, 177, 177);
}

.calculator-grid {
  display: grid;
  margin-top: 8rem;
  position: absolute;
  left: 60%;
  grid-template-columns: repeat(4, 11rem);
  grid-template-rows: minmax(8rem, auto) repeat(5, 7rem);
  box-shadow: rgba(47, 47, 47, 0.56) 0 22px 70px 4px;
  border-radius: 20px;
}

.span-two {
  grid-column: span 2;
}

.span-two-border {
  grid-column: span 2;
  border-bottom-left-radius: 20px;
}

.output {
  grid-column: 1 / -1;
  background: rgb(139, 139, 139);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.output .operand {
  color: #fff;
  font-size: 3.5rem;
  padding: 1.5rem;
}

button {
  outline: none;
  border: 1px solid rgba(67, 67, 67, 0.322);
  font-size: 1.5rem;
  background: rgb(228, 228, 228);
  border-radius: 1px;
}

button:active {
  background: rgb(255, 149, 9);
}

.color-btn {
  background: #f4ab0efa;
}

.bottom-right-btn {
  background: #f4ab0efa;
  border-bottom-right-radius: 20px;
}
